
/* Colors */

.bg-trans{
    background-color: #f7fff7ff;

}

.bg-trans a{
    background-color: #ffffff00;
    color: #1a535cff;
    font-size: 18px;
}

html,body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    /* box-sizing: content-box; */
}

a {
    text-decoration: none !important;
}

.container-fluid{
    padding: 0;
}

.row{
    margin: 0;
}
/* Home */
/* Navbar */

.navbar1{
    width: 100%;
    height: 70px;
    background: #f7fff7ff;
    overflow: hidden;
}

#logo{
    float: left;
    padding-left: 65px;
    color: #1a535cff;
    font-size: 25px;
    height: 100%;;
}

#logo p{
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
    color: #1a535cff;
}



.hamburger{
    float: right;
    padding-right: 75px;
    margin-top: 15px;
    margin-right: 0;
    font-size: 25px;
    color: #1a535cff;
}

.hamburger .fa-bars{
    margin-left: 10px;
    cursor: pointer;
}

.overlay1 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 2rem;
    color: #1a535cff;
  }

.overlay1{
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: #f7fff7ff;
    transition: 0.5s;
}

.overlay-content{
    height: 100%;
    width: 100%;
    color: #1a535cff;
    padding: 0;
    margin: 0;
}
.bar{
    width: 100%;
}
.menu{
    background-color:  #f7fff7ff;
}

.menu #logo{
    height: 60px;
}

.menu ul{
    margin: 100px;
    margin-top: 130px;
    line-height: 5rem;
    font-size: 4rem;
    list-style: none;
}

.menu ul a{
    color: #1a535cff !important;
    padding: 20px;
}

.menu ul li:hover a{
    color: rgb(11, 47, 53);
}

.info{
    background-color: #4ecdc4ff;
}

.address{
    margin: 100px;
    margin-top: 120px;
}

.info h2{
    margin-bottom: 20px;
    font-size: 3rem;
}

.info p{
    font-size: 1.2rem;
}

.fa-facebook, .fa-instagram, .fa-twitter{
    font-size: 2rem;
    margin-right: 10px;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover{
    color: rgb(11, 47, 53) !important;
}

/* Banner Section-1 */

.banner{
    height: auto;
    width: 100%;
    padding: 40px;
    background-color: #f7fff7ff;
}
.item{
    margin-top: 30px;
}
.item h2{
    font-size: 4em;
    color: #1a535cff;
    margin-left: 15%;
    padding: 30px;
}

.item button{
    width: 50%;
    height: 50px;
    margin-left: 22%;
    border: none;
    background-color: #ff6b6bff;
    border-radius: 50px;
    color: #f7fff7ff;
    font-size: 20px;
    outline: none;
    transition: 0.2s;
}

.item button:hover{
    border-radius: 50px;
    background: #ff6b6b;
    box-shadow:  3px 3px 10px #e35f5f, 
                 -3px -3px 10px #ff7777;
}

.responsive1{
    width: 100%;
    max-width: 700px;
    height: auto;
    overflow: hidden;
    
}



/* Section-2 About */

.section_2{
    width: 100%;
    height: 100vh;
    background-color: #f7fff7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.about{
    height: 60%;
    width: 70%;
}

.first, .second{
    height: 100%;
    box-shadow: 0 41px 53px rgba(0, 0, 0, 0.29);
}

.first{
    background: url(media/brooke-cagle-LCcFI_26diA-unsplash.jpg) ;
    background-size: cover;
}

.second{
    background-color:  #ff6b6b ;
    margin-left: -30px;
    margin-top: 20px;
    overflow: hidden;
}

.second p:nth-child(1){
    color: #1a535cff;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-size: 1em;
}

.second h3{
    color: #f7fff7ff;
    padding-left: 10px;
    font-size: 3em;
}

#aboutcontent{
    color: #f7fff7ff;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 1.2em;
}

/* Section_3 Our services */

.section_3{
    position: relative;
    width: 100%;
    background-color: #f7fff7ff;
    height: 100vh;
    font-size: 1rem;
    display: block; 
}

.card-main{
    padding: 100px;
}

.card{
    background-color: #4ecdc4ff;
    margin: 20px;
    height: 370px;
    padding: 15px;
    color: #f7fff7ff;
    border-radius: 15px;
    border: none;
    transition: all 0.8s;
}

.card img{
    margin-top: 10px;
    width: 80px;
    fill: #f7fff7ff;
} 

.card-outer:nth-child(3) img{
    width: 65px;
}

.card h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card p{
    color: #1a535cff;
    font-weight: 500;
}

.card:hover{
    box-shadow: 0 41px 53px rgba(0, 0, 0, 0.29);
}